<h2>Note Type - {{ operation }}</h2>
<form (ngSubmit)="onSubmit()" #itemForm="ngForm">
    <div class="form-group">
        <input type="text"
               placeholder="Title"
               class="form-control"
               id="title"
               required
               [(ngModel)]="item.title"
               name="title" />
    </div>
    <div class="form-group">
        <textarea class="form-control"
                  placeholder="Description"
                  rows="5"
                  id="description"
                  required
                  name="description"
                  [(ngModel)]="item.description"></textarea>
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-default" (click)="goBack()">Back to list</button>
        <button type="submit" class="btn btn-success btn-right" [disabled]="!itemForm.form.valid">Save</button>
    </div>
</form>