.menu > button.btn {
    margin-bottom: 10px;
    width: 100px;
    text-transform: uppercase;
}

.menu > button.selected {
    margin-left: 10px;
    color: #fff;
    background-color: #31b0d5;
    border-color: #31b0d5;
}